<h2>Dashboard por Investimento</h2>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="col-md-12">Patrimonio</div>
        <%= content_tag :div, "", id: "heritage", data: {heritage: heritage} %>
    </div>
    <div class="col-md-6 text-center">
        <div class="col-md-12">Objetivos</div>
    </div>
    <div class="col-md-6 text-center">
        <div class="col-md-12">Tipo</div>
    </div>
    <div class="col-md-6 text-center">
        <div class="col-md-12">Liquidez</div>
    </div>
    <div class="col-md-6 text-center">
        <div class="col-md-12">Imposto</div>
    </div>
</div>