<h1>Lista de Índices</h1>

<table class="table table-striped">

  <thead>
  <tr>
    <td>Id</td>
    <td>Nome</td>
  </tr>
  </thead>
  <tbody>
  <% @indexers.each do |indexer|  %>
    <tr>
        <td><%= link_to indexer[:id], indexers_show_path(indexer[:id]) %></td>
        <td><%= indexer[:name] %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='2' class='text-right'><%= link_to 'Criar Indice', indexers_new_path %></td>
    </tr>
  </tfoot>
</table>

