<h1>Carteira de Títulos - RICHARD</h1>

<ul>
  <li>Criar Compra de Título</li>
  <li>Cadastrar indexador e atrelar ao titulo</li>
  <li>Categorizar por indexador</li>
  <li>Gerar Relatório</li>
  <li>Cadastrar objetivos</li>
</ul>
