<!DOCTYPE html>
<html>
  <head>
    <title>Invest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		<div class="col-12">
  		<h1>Planejamento Financeiro</h1>
    	</div>
    	<div class="col-12">
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>
