<!DOCTYPE html>
<html>
  <head>
    <title>Invest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  </head>

  <body>
  	<div class="container">
  		<div class="col-12">
  		<h1>Planejamento Financeiro</h1>
    	</div>
    	<div class="col-12">
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>
